In [1]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt

from sklearn import metrics, preprocessing
from sklearn.cross_validation import cross_val_score
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

from sklearn import svm
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier

%matplotlib inline

# Load dataset for training purposes from CSV

In [2]:
train_df = pd.read_csv('./data/orders_train.txt', sep=';', low_memory=False, 
                       parse_dates=['orderDate', 'deliveryDate', 'dateOfBirth', 'creationDate'], 
                       infer_datetime_format=True)

# Load dataset for classification from CSV

In [3]:
test_df = pd.read_csv('./data/orders_class.txt', sep=';', low_memory=False, 
                      parse_dates=['orderDate', 'deliveryDate', 'dateOfBirth', 'creationDate'], 
                      infer_datetime_format=True)

# Load benchmark dataset

In [4]:
test_labels = pd.read_csv('./data/DMC_2014_realclass.txt', sep=';', low_memory=False)

# Add missed column in test dataset (for data type compatibility)

In [5]:
test_df['df_type'] = 'test'
train_df['df_type'] = 'train'
test_df['returnShipment'] = 0

# Join two datasets two datasets together for pre-processing

In [6]:
joined_df = pd.concat([train_df, test_df])

In [7]:
joined_df

,color,creationDate,customerID,dateOfBirth,deliveryDate,df_type,itemID,manufacturerID,orderDate,orderItemID,price,returnShipment,salutation,size,state
0,denim,2011-04-25,794,1965-01-06,2012-04-03,train,186,25,2012-04-01,1,69.90,0,Mrs,m,Baden-Wuerttemberg
1,ocher,2011-04-25,794,1965-01-06,2012-04-03,train,71,21,2012-04-01,2,69.95,1,Mrs,9+,Baden-Wuerttemberg
2,curry,2011-04-25,794,1965-01-06,2012-04-03,train,71,21,2012-04-01,3,69.95,1,Mrs,9+,Baden-Wuerttemberg
3,green,2012-01-04,808,1959-11-09,?,train,22,14,2012-04-02,4,39.90,0,Mrs,m,Saxony
4,black,2011-02-16,825,1964-07-11,1990-12-31,train,151,53,2012-04-02,5,29.90,0,Mrs,39,Rhineland-Palatinate
5,brown,2011-02-16,825,1964-07-11,1990-12-31,train,598,87,2012-04-02,6,89.90,0,Mrs,xxl,Rhineland-Palatinate
6,black,2011-02-16,825,1964-07-11,1990-12-31,train,15,1,2012-04-02,7,129.90,0,Mrs,39,Rhineland-Palatinate
7,brown,2011-02-16,850,1948-04-08,2012-04-03,train,32,3,2012-04-02,8,21.90,1,Mrs,xxl,North Rhine-Westphalia
8,red,2011-02-16,850,1948-04-08,2012-04-03,train,32,3,2012-04-02,9,21.90,1,Mrs,xxl,North Rhine-Westphalia
9,green,2011-02-16,850,1948-04-08,2012-04-03,train,57,3,2012-04-02,10,39.90,1,Mrs,xxl,North Rhine-Westphalia
10,mocca,2011-02-16,850,1948-04-08,2012-04-03,train,2,2,2012-04-02,11,39.90,1,Mrs,xxl,North Rhine-Westphalia
11,black,2011-02-16,850,1948-04-08,2012-04-03,train,259,1,2012-04-02,12,119.90,1,Mrs,39,North Rhine-Westphalia
12,black,2011-02-16,850,1948-04-08,2012-04-03,train,603,55,2012-04-02,13,169.90,1,Mrs,39,North Rhine-Westphalia
13,ocher,2011-02-16,850,1948-04-08,2012-04-10,train,259,1,2012-04-02,14,119.90,1,Mrs,39,North Rhine-Westphalia
14,mocca,2012-03-29,858,?,2012-04-03,train,165,47,2012-04-02,15,89.90,1,Mrs,37,Berlin
15,anthracite,2011-03-20,860,1963-08-15,2012-04-04,train,605,1,2012-04-02,16,199.90,0,Mrs,43,North Rhine-Westphalia
16,green,2011-03-20,860,1963-08-15,2012-04-04,train,606,1,2012-04-02,17,69.90,1,Mrs,37,North Rhine-Westphalia
17,green,2011-03-20,860,1963-08-15,2012-04-04,train,55,1,2012-04-02,18,89.90,1,Mrs,37,North Rhine-Westphalia
18,olive,2011-03-20,860,1963-08-15,2012-04-04,train,79,1,2012-04-02,19,139.90,1,Mrs,37,North Rhine-Westphalia
19,petrol,2011-03-20,860,1963-08-15,2012-04-04,train,57,3,2012-04-02,20,39.90,1,Mrs,m,North Rhine-Westphalia
20,blue,2011-03-20,860,1963-08-15,2012-04-04,train,38,25,2012-04-02,21,49.90,1,Mrs,m,North Rhine-Westphalia
21,green,2011-03-20,860,1963-08-15,2012-04-04,train,231,24,2012-04-02,22,99.90,1,Mrs,37,North Rhine-Westphalia
22,brown,2011-03-20,860,1963-08-15,2012-04-04,train,100,43,2012-04-02,23,119.90,0,Mrs,37,North Rhine-Westphalia
23,grey,2011-03-20,860,1963-08-15,2012-04-04,train,114,43,2012-04-02,24,129.90,1,Mrs,37,North Rhine-Westphalia
24,brown,2011-03-20,860,1963-08-15,2012-04-04,train,286,1,2012-04-02,25,129.90,0,Mrs,37,North Rhine-Westphalia
25,red,2011-03-20,860,1963-08-15,2012-04-04,train,262,12,2012-04-02,26,99.90,1,Mrs,37,North Rhine-Westphalia
26,black,2011-03-20,860,1963-08-15,2012-04-09,train,607,1,2012-04-02,27,149.90,0,Mrs,43,North Rhine-Westphalia
27,brown,2011-03-20,860,1963-08-15,2012-05-04,train,173,20,2012-04-02,28,49.90,0,Mrs,m,North Rhine-Westphalia
28,olive,2011-03-20,860,1963-08-15,2012-05-04,train,146,3,2012-04-02,29,24.90,0,Mrs,m,North Rhine-Westphalia
29,green,2011-03-20,860,1963-08-15,2012-05-04,train,163,53,2012-04-02,30,49.90,0,Mrs,37,North Rhine-Westphalia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50048,green,2013-04-29,91910,1977-04-08,2013-06-05,test,2656,1,2013-04-29,50049,79.90,0,Mrs,39,Saxony
50049,brown,2013-04-29,91911,1966-01-29,2013-05-03,test,2535,38,2013-04-29,50050,129.90,0,Mrs,41,Baden-Wuerttemberg
50050,grey,2013-04-29,91911,1966-01-29,2013-05-03,test,2807,45,2013-04-29,50051,119.90,0,Mrs,42,Baden-Wuerttemberg
50051,ecru,2013-04-29,91911,1966-01-29,2013-05-03,test,2405,3,2013-04-29,50052,59.90,0,Mrs,XXL,Baden-Wuerttemberg
50052,black,2013-04-29,91911,1966-01-29,2013-05-03,test,2565,97,2013-04-29,50053,49.90,0,Mrs,XXL,Baden-Wuerttemberg
50053,ocher,2013-04-29,91911,1966-01-29,2013-05-03,test,2654,28,2013-04-29,50054,119.90,0,Mrs,XXL,Baden-Wuerttemberg
50054,grey,2013-04-29,91911,1966-01-29,2013-05-20,test,2807,45,2013-04-29,50055,119.90,0,Mrs,41,Baden-Wuerttemberg
50055,ocher,2013-04-29,91911,1966-01-29,?,test,2368,119,2013-04-29,50056,120.00,0,Mrs,41,Baden-Wuerttemberg
50056,black,2013-04-29,91911,1966-01-29,?,test,2368,119,2013-04-29,50057,120.00,0,Mrs,42,Baden-Wuerttemberg
50057,magenta,2013-04-27,91912,1962-03-19,2013-06-10,test,2516,1,2013-04-27,50058,169.90,0,Mrs,39+,Hesse
50058,black,2013-04-27,91912,1962-03-19,2013-06-10,test,2586,20,2013-04-27,50059,39.90,0,Mrs,XL,Hesse
50059,green,2013-04-27,91912,1962-03-19,2013-06-10,test,2431,6,2013-04-27,50060,79.90,0,Mrs,36,Hesse
50060,stained,2013-04-27,91912,1962-03-19,2013-06-10,test,2527,23,2013-04-27,50061,129.90,0,Mrs,39,Hesse
50061,blue,2013-04-27,91912,1962-03-19,2013-06-10,test,2763,24,2013-04-27,50062,69.90,0,Mrs,39,Hesse
50062,black,2013-04-29,91915,1919-08-05,2013-05-03,test,2601,40,2013-04-29,50063,119.90,0,Mrs,38,Baden-Wuerttemberg
50063,apricot,2013-04-16,89065,1967-07-07,2013-06-19,test,2524,21,2013-04-28,50064,79.95,0,Mrs,9+,Saarland
50064,grey,2013-04-16,89065,1967-07-07,?,test,2789,57,2013-04-28,50065,99.90,0,Mrs,6+,Saarland
50065,black,2013-04-16,89065,1967-07-07,?,test,2808,48,2013-04-28,50066,99.95,0,Mrs,11,Saarland
50066,terracotta,2013-04-29,91920,1962-03-08,2013-05-03,test,2505,5,2013-04-29,50067,64.90,0,Mrs,M,Bavaria
50067,red,2013-04-29,91920,1962-03-08,2013-05-03,test,2591,152,2013-04-29,50068,129.00,0,Mrs,38,Bavaria
50068,red,2013-04-29,91920,1962-03-08,2013-05-03,test,2459,38,2013-04-29,50069,99.90,0,Mrs,38,Bavaria
50069,red,2013-04-29,91920,1962-03-08,2013-05-03,test,2489,42,2013-04-29,50070,89.90,0,Mrs,M,Bavaria
50070,denim,2013-04-29,91920,1962-03-08,2013-05-03,test,2363,113,2013-04-29,50071,69.90,0,Mrs,38,Bavaria
50071,ocher,2013-04-29,91920,1962-03-08,2013-05-03,test,2547,6,2013-04-29,50072,79.90,0,Mrs,38,Bavaria
50072,white,2013-04-29,91920,1962-03-08,2013-05-03,test,2470,5,2013-04-29,50073,79.90,0,Mrs,M,Bavaria
50073,terracotta,2013-04-29,91920,1962-03-08,2013-05-03,test,2342,5,2013-04-29,50074,69.90,0,Mrs,M,Bavaria
50074,terracotta,2013-04-29,91920,1962-03-08,2013-05-03,test,2505,5,2013-04-29,50075,64.90,0,Mrs,M,Bavaria
50075,white,2013-03-24,85095,1950-02-14,2013-05-02,test,2470,5,2013-04-28,50076,79.90,0,Mrs,XL,Berlin
50076,white,2013-04-28,91922,1969-11-27,?,test,2452,5,2013-04-28,50077,59.90,0,Mrs,L,Brandenburg
50077,black,2013-04-28,91922,1969-11-27,?,test,2452,5,2013-04-28,50078,59.90,0,Mrs,L,Brandenburg

# Replace unknown dates with NaN

In [8]:
joined_df.dateOfBirth = pd.to_datetime(joined_df.dateOfBirth, format='%Y-%m-%d', errors='coerce')
joined_df.deliveryDate = pd.to_datetime(joined_df.deliveryDate, format='%Y-%m-%d', errors='coerce')
joined_df.creationDate = pd.to_datetime(joined_df.creationDate, format='%Y-%m-%d', errors='coerce')

# Rename column names - size is Python/Pandas built-in method

In [9]:
joined_df.rename(columns={'size': 'item_size'}, inplace=True)

# Encoding categorical variables

## - Salutation / Gender

In [10]:
salutation_encoder = preprocessing.LabelEncoder()
joined_df.salutation = salutation_encoder.fit_transform(joined_df.salutation)

## - Color

In [11]:
color_encoder = preprocessing.LabelEncoder()
joined_df.color = color_encoder.fit_transform(joined_df.color)

## - Size

In [12]:
size_encoder = preprocessing.LabelEncoder()
joined_df.item_size = size_encoder.fit_transform(joined_df.item_size)

## - State

In [13]:
state_encoder = preprocessing.LabelEncoder()
joined_df.state = state_encoder.fit_transform(joined_df.state)

# Adding age column

In [14]:
joined_df['age_years'] = (joined_df.orderDate - joined_df.dateOfBirth).astype('timedelta64[Y]')
joined_df.age_years.fillna(-1, inplace=True)
joined_df.age_years = joined_df.age_years.astype(int)
joined_df.age_years = joined_df.age_years.apply(lambda x: -1 if x < 0 else x)

# Adding month number column

In [15]:
joined_df['order_month'] = joined_df.orderDate.dt.month

# Adding day of week column

In [16]:
joined_df['order_weekday'] = joined_df.orderDate.dt.dayofweek

# Add price bin column

In [17]:
joined_df['price_bin'] = joined_df.price.apply(lambda x: int(round(x/100))*100)

# Add column with days between order and delivery

In [18]:
joined_df['delivery_duration'] = (joined_df.deliveryDate - joined_df.orderDate).astype('timedelta64[D]')
joined_df.delivery_duration.fillna(-1, inplace=True)
joined_df.delivery_duration = joined_df.delivery_duration.astype(int)
joined_df.delivery_duration = joined_df.delivery_duration.apply(lambda x: -1 if x < 0 else x)

# Add column with days between order and registration

In [19]:
joined_df['registration_duration'] = (joined_df.orderDate - joined_df.creationDate).astype('timedelta64[D]')
joined_df.registration_duration.fillna(-1, inplace=True)
joined_df.registration_duration = joined_df.registration_duration.astype(int)
joined_df.registration_duration = joined_df.registration_duration.apply(lambda x: -1 if x < 0 else x)

# Add column with number of items in entire order

In [20]:
#orders_count_df = joined_df.groupby(['customerID', 'orderDate']).agg({'orderItemID': 'count'})
#orders_count_df.columns = ['orders_count']
#joined_df = joined_df.set_index(['customerID', 'orderDate'])
#joined_df = joined_df.merge(orders_count_df, how='left', left_index=True, right_index=True).reset_index()

# Add column with shipment return result to test dataframe part

In [21]:
joined_df.loc[joined_df['df_type'] == 'test', 'returnShipment'] = test_labels['returnShipment']

# Fill all N/As

In [22]:
joined_df.fillna(0, inplace=True)

In [23]:
joined_df

,color,creationDate,customerID,dateOfBirth,deliveryDate,df_type,itemID,manufacturerID,orderDate,orderItemID,...,returnShipment,salutation,item_size,state,age_years,order_month,order_weekday,price_bin,delivery_duration,registration_duration
0,43,2011-04-25,794,1965-01-06,2012-04-03,train,186,25,2012-04-01,1,...,0,3,115,0,47,4,6,100,2,342
1,69,2011-04-25,794,1965-01-06,2012-04-03,train,71,21,2012-04-01,2,...,1,3,102,0,47,4,6,100,2,342
2,36,2011-04-25,794,1965-01-06,2012-04-03,train,71,21,2012-04-01,3,...,1,3,102,0,47,4,6,100,2,342
3,50,2012-01-04,808,1959-11-09,1970-01-01,train,22,14,2012-04-02,4,...,0,3,115,12,52,4,0,0,-1,89
4,18,2011-02-16,825,1964-07-11,1990-12-31,train,151,53,2012-04-02,5,...,0,3,59,10,47,4,0,0,-1,411
5,23,2011-02-16,825,1964-07-11,1990-12-31,train,598,87,2012-04-02,6,...,0,3,120,10,47,4,0,100,-1,411
6,18,2011-02-16,825,1964-07-11,1990-12-31,train,15,1,2012-04-02,7,...,0,3,59,10,47,4,0,100,-1,411
7,23,2011-02-16,850,1948-04-08,2012-04-03,train,32,3,2012-04-02,8,...,1,3,120,9,63,4,0,0,1,411
8,79,2011-02-16,850,1948-04-08,2012-04-03,train,32,3,2012-04-02,9,...,1,3,120,9,63,4,0,0,1,411
9,50,2011-02-16,850,1948-04-08,2012-04-03,train,57,3,2012-04-02,10,...,1,3,120,9,63,4,0,0,1,411
10,66,2011-02-16,850,1948-04-08,2012-04-03,train,2,2,2012-04-02,11,...,1,3,120,9,63,4,0,0,1,411
11,18,2011-02-16,850,1948-04-08,2012-04-03,train,259,1,2012-04-02,12,...,1,3,59,9,63,4,0,100,1,411
12,18,2011-02-16,850,1948-04-08,2012-04-03,train,603,55,2012-04-02,13,...,1,3,59,9,63,4,0,200,1,411
13,69,2011-02-16,850,1948-04-08,2012-04-10,train,259,1,2012-04-02,14,...,1,3,59,9,63,4,0,100,8,411
14,66,2012-03-29,858,1970-01-01,2012-04-03,train,165,47,2012-04-02,15,...,1,3,53,2,-1,4,0,100,1,4
15,4,2011-03-20,860,1963-08-15,2012-04-04,train,605,1,2012-04-02,16,...,0,3,72,9,48,4,0,200,2,379
16,50,2011-03-20,860,1963-08-15,2012-04-04,train,606,1,2012-04-02,17,...,1,3,53,9,48,4,0,100,2,379
17,50,2011-03-20,860,1963-08-15,2012-04-04,train,55,1,2012-04-02,18,...,1,3,53,9,48,4,0,100,2,379
18,71,2011-03-20,860,1963-08-15,2012-04-04,train,79,1,2012-04-02,19,...,1,3,53,9,48,4,0,100,2,379
19,76,2011-03-20,860,1963-08-15,2012-04-04,train,57,3,2012-04-02,20,...,1,3,115,9,48,4,0,0,2,379
20,20,2011-03-20,860,1963-08-15,2012-04-04,train,38,25,2012-04-02,21,...,1,3,115,9,48,4,0,0,2,379
21,50,2011-03-20,860,1963-08-15,2012-04-04,train,231,24,2012-04-02,22,...,1,3,53,9,48,4,0,100,2,379
22,23,2011-03-20,860,1963-08-15,2012-04-04,train,100,43,2012-04-02,23,...,0,3,53,9,48,4,0,100,2,379
23,51,2011-03-20,860,1963-08-15,2012-04-04,train,114,43,2012-04-02,24,...,1,3,53,9,48,4,0,100,2,379
24,23,2011-03-20,860,1963-08-15,2012-04-04,train,286,1,2012-04-02,25,...,0,3,53,9,48,4,0,100,2,379
25,79,2011-03-20,860,1963-08-15,2012-04-04,train,262,12,2012-04-02,26,...,1,3,53,9,48,4,0,100,2,379
26,18,2011-03-20,860,1963-08-15,2012-04-09,train,607,1,2012-04-02,27,...,0,3,72,9,48,4,0,100,7,379
27,23,2011-03-20,860,1963-08-15,2012-05-04,train,173,20,2012-04-02,28,...,0,3,115,9,48,4,0,0,32,379
28,71,2011-03-20,860,1963-08-15,2012-05-04,train,146,3,2012-04-02,29,...,0,3,115,9,48,4,0,0,32,379
29,50,2011-03-20,860,1963-08-15,2012-05-04,train,163,53,2012-04-02,30,...,0,3,53,9,48,4,0,0,32,379
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50048,50,2013-04-29,91910,1977-04-08,2013-06-05,test,2656,1,2013-04-29,50049,...,0,3,59,12,36,4,0,100,37,0
50049,23,2013-04-29,91911,1966-01-29,2013-05-03,test,2535,38,2013-04-29,50050,...,1,3,67,0,47,4,0,100,4,0
50050,51,2013-04-29,91911,1966-01-29,2013-05-03,test,2807,45,2013-04-29,50051,...,1,3,69,0,47,4,0,100,4,0
50051,45,2013-04-29,91911,1966-01-29,2013-05-03,test,2405,3,2013-04-29,50052,...,1,3,112,0,47,4,0,100,4,0
50052,18,2013-04-29,91911,1966-01-29,2013-05-03,test,2565,97,2013-04-29,50053,...,1,3,112,0,47,4,0,0,4,0
50053,69,2013-04-29,91911,1966-01-29,2013-05-03,test,2654,28,2013-04-29,50054,...,0,3,112,0,47,4,0,100,4,0
50054,51,2013-04-29,91911,1966-01-29,2013-05-20,test,2807,45,2013-04-29,50055,...,1,3,67,0,47,4,0,100,21,0
50055,69,2013-04-29,91911,1966-01-29,1970-01-01,test,2368,119,2013-04-29,50056,...,0,3,67,0,47,4,0,100,-1,0
50056,18,2013-04-29,91911,1966-01-29,1970-01-01,test,2368,119,2013-04-29,50057,...,0,3,69,0,47,4,0,100,-1,0
50057,62,2013-04-27,91912,1962-03-19,2013-06-10,test,2516,1,2013-04-27,50058,...,0,3,60,6,51,4,5,200,44,0
50058,18,2013-04-27,91912,1962-03-19,2013-06-10,test,2586,20,2013-04-27,50059,...,1,3,110,6,51,4,5,0,44,0
50059,50,2013-04-27,91912,1962-03-19,2013-06-10,test,2431,6,2013-04-27,50060,...,0,3,49,6,51,4,5,100,44,0
50060,81,2013-04-27,91912,1962-03-19,2013-06-10,test,2527,23,2013-04-27,50061,...,1,3,59,6,51,4,5,100,44,0
50061,20,2013-04-27,91912,1962-03-19,2013-06-10,test,2763,24,2013-04-27,50062,...,1,3,59,6,51,4,5,100,44,0
50062,18,2013-04-29,91915,1919-08-05,2013-05-03,test,2601,40,2013-04-29,50063,...,0,3,55,0,93,4,0,100,4,0
50063,6,2013-04-16,89065,1967-07-07,2013-06-19,test,2524,21,2013-04-28,50064,...,0,3,102,11,45,4,6,100,52,12
50064,51,2013-04-16,89065,1967-07-07,1970-01-01,test,2789,57,2013-04-28,50065,...,0,3,91,11,45,4,6,100,-1,12
50065,18,2013-04-16,89065,1967-07-07,1970-01-01,test,2808,48,2013-04-28,50066,...,0,3,6,11,45,4,6,100,-1,12
50066,83,2013-04-29,91920,1962-03-08,2013-05-03,test,2505,5,2013-04-29,50067,...,1,3,108,1,51,4,0,100,4,0
50067,79,2013-04-29,91920,1962-03-08,2013-05-03,test,2591,152,2013-04-29,50068,...,1,3,55,1,51,4,0,100,4,0
50068,79,2013-04-29,91920,1962-03-08,2013-05-03,test,2459,38,2013-04-29,50069,...,1,3,55,1,51,4,0,100,4,0
50069,79,2013-04-29,91920,1962-03-08,2013-05-03,test,2489,42,2013-04-29,50070,...,1,3,108,1,51,4,0,100,4,0
50070,43,2013-04-29,91920,1962-03-08,2013-05-03,test,2363,113,2013-04-29,50071,...,1,3,55,1,51,4,0,100,4,0
50071,69,2013-04-29,91920,1962-03-08,2013-05-03,test,2547,6,2013-04-29,50072,...,1,3,55,1,51,4,0,100,4,0
50072,86,2013-04-29,91920,1962-03-08,2013-05-03,test,2470,5,2013-04-29,50073,...,1,3,108,1,51,4,0,100,4,0
50073,83,2013-04-29,91920,1962-03-08,2013-05-03,test,2342,5,2013-04-29,50074,...,1,3,108,1,51,4,0,100,4,0
50074,83,2013-04-29,91920,1962-03-08,2013-05-03,test,2505,5,2013-04-29,50075,...,1,3,108,1,51,4,0,100,4,0
50075,86,2013-03-24,85095,1950-02-14,2013-05-02,test,2470,5,2013-04-28,50076,...,0,3,110,2,63,4,6,100,4,35
50076,86,2013-04-28,91922,1969-11-27,1970-01-01,test,2452,5,2013-04-28,50077,...,0,3,107,3,43,4,6,100,-1,0
50077,18,2013-04-28,91922,1969-11-27,1970-01-01,test,2452,5,2013-04-28,50078,...,0,3,107,3,43,4,6,100,-1,0

# Scaling, training, classifying

In [24]:
X = joined_df.drop(['creationDate', 'dateOfBirth', 'orderItemID', 'orderDate', 
                  'deliveryDate', 'customerID'], axis=1)

classifier_names = ['Logistic Regression', 'Random Forest', 'Decision Tree', 'Linear SVC', 'AdaBoost Classifier', 
               '5 Nearest Neighbors', 'GradientBoosting Classifier']
classifier_objects = [LogisticRegression(), RandomForestClassifier(n_estimators=20, max_depth=5), 
                      DecisionTreeClassifier(max_depth=5), 
                      svm.LinearSVC(), AdaBoostClassifier(), KNeighborsClassifier(5), 
                      GradientBoostingClassifier(n_estimators=20, learning_rate=1.0, max_depth=1, random_state=0)]

scaler_names = ['Without Scaling', 'Standard Scaler', 'MinMax Scaler', 'Robust Scaler']
scaler_objects = [False, StandardScaler(), MinMaxScaler(), RobustScaler()]

features = list(X.columns)
for drop_column in ['df_type', 'returnShipment']:
    features.remove(drop_column)
print("Features: {}\n".format(', '.join(features)))

for scaler_name, scaler in zip(scaler_names, scaler_objects):
    print("Dataset preprocessed: {}".format(scaler_name))
    if scaler:
        X[features] = scaler.fit_transform(X[features])

    for clf_name, clf in zip(classifier_names, classifier_objects):
        X_train = X[X['df_type'] == "train"][features]
        y_train = X[X['df_type'] == "train"]['returnShipment']
        X_test = X[X['df_type'] == "test"][features]
        y_test = X[X['df_type'] == "test"]['returnShipment']

        clf.fit(X_train, y_train)
        clf_score = clf.score(X_test, y_test) * 100
        print("\tAccuracy of {0} classifier: {1:.3f}%".format(clf_name, clf_score))
    print("\n")

Features: color, itemID, manufacturerID, price, salutation, item_size, state, age_years, order_month, order_weekday, price_bin, delivery_duration, registration_duration

Dataset preprocessed: Without Scaling
	Accuracy of Logistic Regression classifier: 56.775%
	Accuracy of Random Forest classifier: 64.320%
	Accuracy of Decision Tree classifier: 64.220%
	Accuracy of Linear SVC classifier: 50.701%
	Accuracy of AdaBoost Classifier classifier: 64.412%
	Accuracy of 5 Nearest Neighbors classifier: 56.560%
	Accuracy of GradientBoosting Classifier classifier: 64.070%


Dataset preprocessed: Standard Scaler
	Accuracy of Logistic Regression classifier: 56.781%
	Accuracy of Random Forest classifier: 64.431%
	Accuracy of Decision Tree classifier: 64.220%
	Accuracy of Linear SVC classifier: 56.757%
	Accuracy of AdaBoost Classifier classifier: 64.412%
	Accuracy of 5 Nearest Neighbors classifier: 54.795%
	Accuracy of GradientBoosting Classifier classifier: 64.070%


Dataset preprocessed: MinMax Scaler
	Accuracy of Logistic Regression classifier: 56.789%
	Accuracy of Random Forest classifier: 64.420%
	Accuracy of Decision Tree classifier: 64.220%
	Accuracy of Linear SVC classifier: 56.755%
	Accuracy of AdaBoost Classifier classifier: 64.412%
	Accuracy of 5 Nearest Neighbors classifier: 53.095%
	Accuracy of GradientBoosting Classifier classifier: 64.070%


Dataset preprocessed: Robust Scaler
	Accuracy of Logistic Regression classifier: 56.779%
	Accuracy of Random Forest classifier: 64.507%
	Accuracy of Decision Tree classifier: 64.222%
	Accuracy of Linear SVC classifier: 56.652%
	Accuracy of AdaBoost Classifier classifier: 64.412%
	Accuracy of 5 Nearest Neighbors classifier: 58.103%
	Accuracy of GradientBoosting Classifier classifier: 64.070%